<!DOCTYPE html>
<html>
    <head>
        <title>The Vue from You</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="scripts/app.js" defer></script>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <div id="app">
            <div class='navbar'>
                <h2>{{title}}</h2>
            </div>
            <div>
                <button v-on:click="toggleTeacherMode">Toggle Teacher</button>
            </div>
            <div class="question">
                <input type="text" placeholder="Add your Question here" name="new-question" v-model="newQuestion" />
                <button v-on:click="addQuestion">Submit</button>
            </div>
            <div class="asked-questions">
                <ul>
                    <question-list v-for="item in questions" v-bind:question="item" v:bind:key="item.id" ></question-list>
                </ul>
            </div>
        </div>
    </body>
</html>