<!DOCTYPE html>
<html>
    <head>
        <title>ask.Teacher</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Arvo:ital@0;1&family=Lato:ital,wght@0,300;1,300&display=swap"
            rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="scripts/app.js" defer></script>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>
    <body>
        <div id="app">
            <div class='navbar'>
                <h2 class="title">{{title}}</h2>
            </div>
            <div class="toggle-switch">
                <h5>Teacher Mode</h5>
                <label class="switch">
                    <input type="checkbox" v-on:click="toggleTeacherMode">
                    <span class="slider"></span>
                </label>
            </div>
            <div class="question-container">
                <input placeholder="Name" v-model='name' />
                <textarea placeholder="Add your Question here" name="new-question" v-model="newQuestion" rows="5" cols="30"></textarea>
                <button v-on:click="addQuestion">Submit</button>
            </div>
            <div class="asked-questions">
                <ul>
                    <question-list v-for="item in questions" v-bind:question="item" v:bind:key="item.id" ></question-list>
                </ul>
            </div>
        </div>
    </body>
</html>